# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/todo.org~
/src/components/Cart.js    ~
/src/components/Cart.js~
/src/components/CartContextProvider.js~
/src/components/ItemCarrito.css~
/src/components/ItemCarrito.js~
/src/components/ListaCarrito.css~
/src/components/ListaCarrito.js~
/src/components/Loading.css~
/src/components/Loading.js~
/src/llenarDb.js~
/.vscode/
/src/components/Cart.css~
/src/components/ModalDatos.js~
