.contenedorCarrito {
    display: flex;
}

.contenedorLista {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

    margin: 20px;
    gap: 0.1rem;
}

.card-totales {
    width: 25%;
    margin: 20px;
    background-color: hotpink;
    border-radius: 10%;
    box-shadow: -10px 10px 10px lightgray;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0.5em;
    justify-items: end;
    gap: 1rem;
}

#su-compra {
    grid-column: span 2;
    font-size: 200%;
    justify-self: start;

}

.dinero {
    justify-self: start;
    flex-shrink: 1;
}
